
@{
    ViewBag.Title = "Sản phẩm";
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Font awesome 5 -->
    <link href="fonts/fontawesome/~/Content/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js" type="text/javascript"></script>

</head>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            <div class="col-md-3">

                <div class="card card-category">
                    <div class="img-wrap" style="background: #ffd7d7">
                        <img src="~/Content/images/items/1.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Summer shirts</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Unisex T shirts</a></li>
                            <li><a href="">Casual shirts</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #FFF68D">
                        <img src="~/Content/images/items/2.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Winter jackets</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Leather jackets</a></li>
                            <li><a href="">Men's jackets</a></li>
                            <li><a href="">Heating battery clothes</a></li>
                            <li><a href="">Jeans jackets</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #bcffb8">
                        <img src="~/Content/images/items/3.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Shorts</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Jeans shorts</a></li>
                            <li><a href="">Swimming shorts</a></li>
                            <li><a href="">Another some shorts</a></li>
                            <li><a href="">Another category</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <div class="img-wrap" style="background: #c9fff3">
                        <img src="~/Content/images/items/4.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Travel bags </a></h4>
                        <ul class="list-menu">
                            <li><a href="">Leather bags</a></li>
                            <li><a href="">Cook & Hold ovens</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #ddffeb">
                        <img src="~/Content/images/items/5.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Great items</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Combi steamers</a></li>
                            <li><a href="">Cook & Hold ovens</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #dee4ff">
                        <img src="~/Content/images/items/6.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Kitchen furniture</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Combi steamers</a></li>
                            <li><a href="">Cook & Hold ovens</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #ddffeb">
                        <img src="~/Content/images/items/2.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Great items</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Combi steamers</a></li>
                            <li><a href="">Cook & Hold ovens</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3">
                <div class="card card-category">
                    <a href="#" class="img-wrap" style="background: #dee4ff">
                        <img src="~/Content/images/items/1.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><a href="#">Other clothes</a></h4>
                        <ul class="list-menu">
                            <li><a href="">Jeans shorts</a></li>
                            <li><a href="">Cook & Hold ovens</a></li>
                            <li><a href="">Scherf Ice cream</a></li>
                            <li><a href="">Another category</a></li>
                            <li><a href="">Great items name</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- col.// -->
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
